<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculator</title>
    <link rel="stylesheet" href="./css/main.css">
    <script src="index.js" defer></script>
    <script src="https://kit.fontawesome.com/7f80c8b954.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="bgc_calculator">
    <section class="calculator">
        <div class="result_calc">
            <div data-previous-operand class="previous-operand">0</div>

            <div data-current-operand class="current-operand">0</div>
        </div>
        <section class="calc_number">
            <div class="delete_remove">
                <button data-all-clear class="delete_c">C</button>
                <button data-delete class="del">del</button>
            </div>
            <div class="numbers_divide clearfix">
                <div class="divide ">
                    <button data-operation>÷</button>
                </div>
            </div>
            <section class="numbers_calc">
                <button data-number class="seven_calc">7</button>
                <button data-number class=" eight_calc">8</button>
                <button data-number class=" nine_calc">9</button>
                <button data-operation class=" multipy_calc">*</button>
                <button data-number class="four_calc">4</button>
                <button data-number class=" five_calc">5</button>
                <button data-number class=" six_calc">6</button>
                <button data-operation class=" minus_calc">-</button>
                <button data-number class="one_calc">1</button>
                <button data-number class=" two_calc">2</button>
                <button data-number class=" three_calc">3</button>
                <button data-operation class=" plus_calc">+ </button>
                <button data-number class="empty_calc"></button>
                <button data-number class=" zero_calc">0</button>
                <button data-number class=" comma_calc">,</button>
                <button data-equals class=" equals_calc"><i class="fa-solid fa-equals"></i> </button>

            </section>
        </section>
    </section>
</header>
<button data-number>s</button>
</body>
</html>