<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculator</title>
    <link rel="stylesheet" href="./css/main.css">
    <script src="index.js" defer></script>
    <script src="https://kit.fontawesome.com/7f80c8b954.js" crossorigin="anonymous"></script>

</head>
<body>
<header class="bgc_calculator">
    <section class="calculator">
        <div class="result_calc">
            <h1 class="result">0</h1>
        </div>
        <section class="calc_number">
            <div class="delete_remove">
                <p class="delete_c">C</p>
                <p><i class="fa-solid fa-delete-left"></i></p>
            </div>
            <div class="numbers_divide clearfix">
                <div class="divide ">
                    <p><i class="fa-solid fa-divide"></i></p>
                </div>
            </div>
            <section class="numbers_calc">
                <span class="seven_calc">7</span>
                <span class=" eight_calc">8</span>
                <span class=" nine_calc">9</span>
                <span class=" multipy_calc"><i class="fa-solid fa-xmark"></i></span>
                <span class="four_calc">4</span>
                <span class=" five_calc">5</span>
                <span class=" six_calc">6</span>
                <span class=" minus_calc"><i class="fa-solid fa-minus"></i></span>
                <span class="one_calc">1</span>
                <span class=" two_calc">2</span>
                <span class=" three_calc">3</span>
                <span class=" plus_calc"><i class="fa-solid fa-plus"></i> </span>
                <span class="empty_calc"></span>
                <span class=" zero_calc">0</span>
                <span class=" comma_calc">,</span>
                <span class=" equals_calc"><i class="fa-solid fa-equals"></i> </span>
            </section>
        </section>
    </section>
</header>
</body>
</html>