* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;
}
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.bgc_calculator {
  background-color: bisque;
  width: 100vw;
  height: 100vh;
}
@media screen and (max-width: 1600px) {
  .bgc_calculator {
    overflow: hidden;
    background-color: lightslategrey;
  }
}
.bgc_calculator .calculator {
  width: 400px;
  height: 700px;
  background: white;
  border-radius: 30px;
  margin: auto;
}
@media screen and (max-width: 1600px) {
  .bgc_calculator .calculator {
    width: 360px;
    height: 700px;
  }
}
.bgc_calculator .calculator .result_calc {
  font-size: 42px;
  height: 150px;
  border-bottom: 1px solid lightgray;
  background: rgb(242, 242, 242);
  border-radius: 30px 30px 0 0;
}
@media screen and (max-width: 1600px) {
  .bgc_calculator .calculator .result_calc {
    font-size: 30px;
  }
}
.bgc_calculator .calculator .result_calc .previous-operand,
.bgc_calculator .calculator .result_calc .current-operand {
  padding-top: 25px;
  display: flex;
  justify-content: right;
}
@media screen and (max-width: 320px) {
  .bgc_calculator .calculator .result_calc .previous-operand,
.bgc_calculator .calculator .result_calc .current-operand {
    padding-top: 18px;
  }
}
.bgc_calculator .calculator .result_calc .previous-operand {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1600px) {
  .bgc_calculator .calculator .result_calc .previous-operand {
    font-size: 24px;
  }
}
.bgc_calculator .calculator .result_calc .result {
  font-size: 60px;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 1600px) {
  .bgc_calculator .calculator .result_calc .result {
    font-size: 40px;
  }
}
.bgc_calculator .calculator .calc_number .delete_remove {
  display: flex;
  justify-content: end;
  gap: 5px;
  cursor: pointer;
}
.bgc_calculator .calculator .calc_number .delete_remove .del {
  font-size: 40px;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
@media screen and (max-width: 1600px) {
  .bgc_calculator .calculator .calc_number .delete_remove .del {
    font-size: 25px;
    width: 80px;
    padding: 20px;
    margin-right: 10px;
  }
}
.bgc_calculator .calculator .calc_number .delete_remove .del:hover {
  background: rgb(223, 223, 223);
}
.bgc_calculator .calculator .calc_number .delete_remove .delete_c {
  background: rgb(247, 247, 247);
  font-size: 45px;
  width: 95px;
  text-align: center;
  padding-top: 15px;
  border-radius: 10px;
}
@media screen and (max-width: 1600px) {
  .bgc_calculator .calculator .calc_number .delete_remove .delete_c {
    font-size: 30px;
    width: 80px;
    padding: 20px;
  }
}
.bgc_calculator .calculator .calc_number .delete_remove .delete_c:hover {
  background: rgb(223, 223, 223);
}
.bgc_calculator .calculator .calc_number .numbers_divide {
  margin-top: 5px;
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.bgc_calculator .calculator .calc_number .numbers_divide .divide {
  text-align: center;
}
.bgc_calculator .calculator .calc_number .numbers_divide .divide button {
  font-size: 45px;
  padding: 20px 33px;
  border-radius: 10px;
  margin: 0 5px 5px 0;
  cursor: pointer;
}
@media screen and (max-width: 1600px) {
  .bgc_calculator .calculator .calc_number .numbers_divide .divide button {
    font-size: 30px;
    width: 80px;
    padding: 20px;
    margin-right: 10px;
  }
}
.bgc_calculator .calculator .calc_number .numbers_divide .divide button:hover {
  background: rgb(223, 223, 223);
}
.bgc_calculator .calculator .calc_number .numbers_calc {
  display: flex;
  flex-wrap: wrap;
  font-size: 45px;
  gap: 5px;
}
@media screen and (max-width: 1600px) {
  .bgc_calculator .calculator .calc_number .numbers_calc {
    padding: 12px;
  }
}
.bgc_calculator .calculator .calc_number .numbers_calc .seven_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .eight_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .nine_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .multipy_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .four_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .five_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .six_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .one_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .two_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .three_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .minus_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .plus_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .empty_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .zero_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .comma_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .equals_calc {
  cursor: pointer;
  width: 95px;
  text-align: center;
  font-size: 28px;
  padding: 22px;
  background: rgb(247, 247, 247);
  border-radius: 10px;
}
@media screen and (max-width: 1600px) {
  .bgc_calculator .calculator .calc_number .numbers_calc .seven_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .eight_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .nine_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .multipy_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .four_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .five_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .six_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .one_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .two_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .three_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .minus_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .plus_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .empty_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .zero_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .comma_calc,
.bgc_calculator .calculator .calc_number .numbers_calc .equals_calc {
    font-size: 20px;
    width: 80px;
    padding: 20px;
  }
}
.bgc_calculator .calculator .calc_number .numbers_calc .seven_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .eight_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .nine_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .multipy_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .four_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .five_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .six_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .one_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .two_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .three_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .minus_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .plus_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .empty_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .zero_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .comma_calc:hover,
.bgc_calculator .calculator .calc_number .numbers_calc .equals_calc:hover {
  background: rgb(223, 223, 223);
}
.bgc_calculator .calculator .calc_number .numbers_calc .equals_calc {
  background: rgb(247, 145, 146);
}
.bgc_calculator .calculator .calc_number .numbers_calc .equals_calc:hover {
  background: red;
}
/*# sourceMappingURL=main.css.map */
