* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix {
  overflow: auto;

  &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.bgc_calculator {
  background-color: bisque;
  width: 100vw;
  height: 100vh;

  .calculator {
    width: 400px;
    height: 700px;
    background: white;
    border-radius: 30px;
    margin: auto;
    .result_calc {


      font-size: 42px;
      height: 150px;
      border-bottom: 1px solid lightgray;
      background: rgb(242, 242, 242);
      border-radius: 30px 30px 0 0;

      .previous-operand,
      .current-operand {
        padding-top: 25px;
        display: flex;
        justify-content: right;
      }
      .previous-operand{
        font-size: 28px;
        color: rgba(0,0,0,0.5);
      }

      .result {
        font-size: 60px;
        display: flex;
        justify-content: end;
      }
    }

    .calc_number {

      .delete_remove {
        display: flex;
        justify-content: end;
        gap: 5px;
        cursor: pointer;
        .del{
          font-size: 40px;
          text-transform: uppercase;
          padding: 15px;
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            background: rgb(223, 223, 223);
          }
        }

        .delete_c {
          background: rgb(247, 247, 247);
          font-size: 45px;
          width: 95px;
          text-align: center;
          padding-top: 15px;
          border-radius: 10px;

          &:hover {
            background: rgb(223, 223, 223);
          }
        }

        .fa-delete-left {
          padding: 23px;
          background: rgb(247, 247, 247);
          margin-right: 5px;
          border-radius: 10px;

          font-size: 45px;

          &:hover {
            background: rgb(223, 223, 223);
          }
        }

      }

      .numbers_divide {
        margin-top: 5px;
        display: flex;
        justify-content: end;
        cursor: pointer;


        .divide {
          text-align: center;

          button {
            font-size: 45px;
            padding: 20px 33px;
            border-radius: 10px;
            margin: 0 5px 5px 0;
            cursor: pointer;
            &:hover {
              background: rgb(223, 223, 223);
            }
          }

          .fa-divide {

            padding: 20px 28px;
            background: rgb(247, 247, 247);
            border-radius: 10px;

            font-size: 45px;
            margin: 0 5px 5px 0;

            &:hover {
              background: rgb(223, 223, 223);
            }

          }

        }
      }

      .numbers_calc {
        display: flex;
        flex-wrap: wrap;
        font-size: 45px;
        gap: 5px;

        .seven_calc,
        .eight_calc,
        .nine_calc,
        .multipy_calc,
        .four_calc,
        .five_calc,
        .six_calc,
        .one_calc,
        .two_calc,
        .three_calc,
        .minus_calc,
        .plus_calc,
        .empty_calc,
        .zero_calc,
        .comma_calc,
        .equals_calc {
          cursor: pointer;
          width: 95px;
          text-align: center;
          font-size: 28px;
          padding: 22px;
          background: rgb(247, 247, 247);
          border-radius: 10px;

          &:hover {
            background: rgb(223, 223, 223);
          }
        }

        .equals_calc {
          background: rgb(247, 145, 146);

          &:hover {
            background: red;
          }
        }
      }
    }

  }

}
